# Node modules
node_modules/

# TypeScript build output
dist/

# Logs
*.log

# Dependency directories
.pnp/
.pnp.js

# dotenv environment variable files
.env
.env.*.local

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Linux
*~

# IDEs and editors
.idea/
.vscode/
.project
.classpath
.npmrc
.yarnrc
